<h1><%= @task.title %></h1>
<h3><%= @task.details %></h3>

<% if (@task.completed)%>
<p>This task is completed</p>
<% else %>
<p>This task is NOT completed</p>
<% end %>

<button><%= link_to 'Edit this task', edit_path %></button>

<%= link_to "Back to List", tasks_path %>
